/* ############### MY SOLUTION CSS ######################## */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&display=swap');

/* Variable */
:root {
  /* Primary */
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --empty-bar: hsl(224, 65%, 95%);
  --toggle-background: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/bg-pattern.svg');
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-color: var(--very-pale-blue);
}

main {
  margin: 0 auto;
  padding: 4em 1.6em;
  width: 100%;
  min-width: 375px;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--grayish-blue);
}
/* GLOBAL */

/* Main Header */
main header {
  width: 100%;
  background-image: url('../images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 3em 2em;
}
main header h1 {
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  color: var(--dark-desaturated-blue);
}
main header p {
  width: 100%;
  margin-top: 0.6rem;
  line-height: 1.8em;
  font-weight: 800;
}
/* Main Header */

/* Main Card Price */

main .card-price {
  margin-top: 2.8rem;
  background-color: var(--white);
  width: 100%;
  max-width: 580px;
  border-radius: 13px;
  box-shadow: 1px 15px 35px -15px rgba(0, 0, 0, 0.2);
}
main .card-price > .set-price {
  display: flex;
  padding: 3em;
  align-items: center;
  flex-wrap: wrap;
}
main .card-price > .set-price > p {
  width: 50%;
  font-weight: 800;
}
main .card-price > .set-price > p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
main .card-price > .set-price > p:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main .card-price > .set-price > p:nth-child(2) > #price {
  margin-right: 0.4rem;
  font-size: 2.8em;
  font-weight: 800;
  color: var(--dark-desaturated-blue);
}

main .card-price > .set-price > p:nth-child(2) > #time-period::before {
  content: '\00a0';
}

main .card-price > .set-price > form,
main .card-price > .set-price > .period-select {
  width: 100%;
}
main .card-price > .set-price > form {
  margin: 0.5rem auto;
  padding: 2em 0;
  display: grid;
  place-items: center;
}
main .card-price > .set-price > form > input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border: none;
  cursor: ew-resize;
  border-radius: 50px;
  background-color: var(--empty-bar);
}

main
  .card-price
  > .set-price
  > form
  > input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url('../images/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--strong-cyan);
  box-shadow: 0px 15px 35px hsla(174, 86%, 45%, 0.8);
  transition: background-color 0.2s ease-in-out;
}

main
  .card-price
  > .set-price
  > form
  > input[type='range']::-webkit-slider-thumb:hover {
  background-color: rgb(59, 241, 223);
}
main
  .card-price
  > .set-price
  > form
  > input[type='range']::-webkit-slider-thumb:active {
  background-color: rgb(45, 189, 174);
}
main
  .card-price
  > .set-price
  > form
  > input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
main
  .card-price
  > .set-price
  > form
  > input[type='range']::-moz-range-progress {
  background-color: var(--soft-cyan);
}
main .card-price > .set-price > form > input[type='range']::-ms-fill-lower {
  background-color: var(--soft-cyan);
}

main .card-price > .set-price > .period-select {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
}
main .card-price > .set-price > .period-select > p {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--grayish-blue);
  display: flex;
  align-items: center;
}
main .card-price > .set-price > .period-select > p:nth-child(1) {
  justify-content: flex-end;
}

main
  .card-price
  > .set-price
  > .period-select
  > form
  > label
  > input[type='checkbox'] {
  display: none;
}
main .card-price > .set-price > .period-select > form > label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .card-price > .set-price > .period-select > form > label > div {
  position: relative;
  width: 46px;
  height: 24px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  background-color: var(--toggle-background);
}

@media (hover: hover) {
  main .card-price > .set-price > .period-select > form > label:hover > div {
    background-color: var(--soft-cyan);
  }
}

main .card-price > .set-price > .period-select > form > label > div > span {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: var(--white);
  transition: all 0.2s ease-in-out;
}

main
  .card-price
  > .set-price
  > .period-select
  > form
  > label
  > input[type='checkbox']:checked
  + div
  > span {
  transform: translateX(22px);
}

main
  .card-price
  > .set-price
  > .period-select
  > p:nth-child(3)
  > span.discount {
  display: inline-block;
  padding: 0.4em 0.8em;
  border-radius: 25px;
  margin-left: 0.6rem;
  font-size: 0.8em;
  color: var(--light-red);
  background-color: var(--light-grayish-red);
}

main .card-price > hr {
  border: none;
  outline: none;
  border-top: 1px solid var(--empty-bar);
}
main .card-price > .action {
  padding: 2em 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .card-price > .action > ul {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  list-style-image: url('../images/icon-check.svg');
}
main .card-price > .action > ul > li {
  margin: 0.2rem 0;
  color: var(--grayish-blue);
  font-size: 0.9em;
  text-indent: 0.8em;
}
main .card-price > .action > .wrap-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main .card-price > .action > .wrap-button > a {
  padding: 0.8em 3.4em;
  border-radius: 25px;
  color: var(--pale-blue);
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  background-color: var(--dark-desaturated-blue);
  transition: color 0.2s ease-in-out;
}
main .card-price > .action > .wrap-button > a:hover {
  color: var(--white);
  cursor: pointer;
}

/* Main Card Price */

/* Footer */
footer {
  margin: 4rem auto;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* Footer */

/* ######################### MOBILE RESPONSIVE ########################### */
/* ######################### MOBILE RESPONSIVE ########################### */
/* ######################### MOBILE RESPONSIVE ########################### */
/* ######################### MOBILE RESPONSIVE ########################### */
/* ######################### MOBILE RESPONSIVE ########################### */
/* ######################### MOBILE RESPONSIVE ########################### */

@media only screen and (max-width: 680px) {
  /* Main Header */

  main header h1 {
    font-size: 1.6em;
  }

  /* Main Header */

  /* Main Card Price */
  main .card-price > .set-price {
    flex-direction: column;
  }

  main .card-price > .set-price > p {
    width: 100%;
    text-align: center;
  }
  main .card-price > .set-price > p:nth-child(1) {
    order: -1;
  }
  main .card-price > .set-price > p:nth-child(2) {
    justify-content: center;
  }
  main .card-price > .set-price > p:nth-child(2) > #price {
    font-size: 2em;
  }
  main .card-price > .set-price > form {
    order: -1;
  }

  main .card-price > .set-price > .period-select > p {
    font-size: 0.7em;
  }
  main .card-price > .set-price > .period-select > p:nth-child(3) {
    position: relative;
  }
  main
    .card-price
    > .set-price
    > .period-select
    > p:nth-child(3)
    > span.discount {
    top: 1.5rem;
    position: absolute;
  }

  main .card-price > .action {
    grid-template-columns: 1fr;
  }

  main .card-price > .action > ul {
    align-items: center;
    margin-bottom: 2rem;
  }
  main .card-price > .action > .wrap-button {
    justify-content: center;
  }
  /* Main Card Price */
}

/* ############### MY SOLUTION CSS ######################## */
